
export(
cost5,
dependency.score,
iterative.window,
fixed.window,
fit.cgh.mir.byname,
fit.cgh.mrna.byname,
fit.dependency.model,
initialize2,
optimize.simCCA.W,
ppca,
pcca,
pcca.isotropic,
pfa,
phi.EM.simcca,
pint.data,
pint.match,
plot.DependencyModel,
plot.ChromosomeArmModels,
plot.ChromosomeModels,
plot.GenomeModels,
screen.cgh.mrna,
screen.cgh.mir,
simCCA.optimize.fullcov.EM,
W.effects,
z.expectation,
z.effects)

exportClasses("DependencyModel",
"ChromosomeArmModels",
"ChromosomeModels",
"GenomeModels")

exportMethods(
"[[",
"[[<-",
"setLoc<-",
"setGeneName<-",
"setArm<-",
"setChromosome<-",
getW,
getPhi,
getScore,
getLoc,
getGeneName,
getChromosome,
getArm,
getModelMethod,
getParams,
getPArm,
getQArm,
getWindowSize,
getModelNumbers,
topGenes,
topModels,
orderGenes,
findModel,
isEmpty
)

importFrom(graphics, plot)
