
export(
iterative.window,
fixed.window,
fit.cgh.mir.byname,
fit.cgh.mrna.byname,
get.neighboring.probes,
get.neighs,
join.top.regions,
summarize.region.parameters,
order.feature.info,       
pint.data,
pint.match,
plot.GeneDependencyModel,
plot.ChromosomeModels,
plot.GenomeModels,
screen.cgh.mrna,
screen.cgh.mir,
W.effects,
z.effects)

exportClasses("GeneDependencyModel",
"ChromosomeModels",
"GenomeModels")

exportMethods(
"[[",
"[[<-",
"setLoc<-",
"setGeneName<-",
"setArm<-",
"setChromosome<-",
getW,
getPhi,
getScore,
getLoc,
getGeneName,
getChromosome,
getArm,
getModelMethod,
getParams,
getPArm,
getQArm,
getWindowSize,
getModelNumbers,
topGenes,
topModels,
orderGenes,
findModel,
isEmpty,
as.data.frame
)

importFrom(graphics, plot)
import(dmt)
